body{
    background-color: bisque
}
.ejemplo{
    background-color: brown;
}
h2{
    background-color: darkgreen;
}

#imagen{
    width: 250px;
    padding: 50px;
    
}
h1{
    background-color: white ;
}